USE [master]
GO
/****** Object:  Database [GoldenPearlDB]    Script Date: 20/05/2026 3:14:36 CH ******/
CREATE DATABASE [GoldenPearlDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GoldenPearlDB', FILENAME = N'D:\nmth\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\GoldenPearlDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GoldenPearlDB_log', FILENAME = N'D:\nmth\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\GoldenPearlDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GoldenPearlDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GoldenPearlDB]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [varchar](20) NOT NULL,
	[ngayLap] [datetime] NULL,
	[thoiGian] [time](7) NULL,
	[tongTien] [float] NULL,
	[trangThai] [bit] NULL,
	[maDon] [varchar](20) NULL,
	[maNV] [varchar](20) NULL,
	[maKH] [varchar](20) NULL,
	[maKM] [varchar](20) NULL,
	[tienCoc] [float] NULL,
	[trangThaiThanhToan] [nvarchar](30) NOT NULL,
	[hinhThucThanhToan] [nvarchar](30) NULL,
	[maCa] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DoanhThuTheoCa]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DoanhThuTheoCa] AS
SELECT
    c.maCa,
    c.tenCa,
    c.gioBatDau,
    c.gioKetThuc,
    COUNT(hd.maHD)         AS soHoaDon,
    ISNULL(SUM(hd.tongTien), 0) AS tongDoanhThu
FROM CaLam c
LEFT JOIN HoaDon hd
    ON hd.maCa = c.maCa
   AND hd.trangThaiThanhToan = N'Đã thanh toán'
GROUP BY c.maCa, c.tenCa, c.gioBatDau, c.gioKetThuc;

GO
/****** Object:  Table [dbo].[Ban]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[maBan] [varchar](20) NOT NULL,
	[soBan] [int] NOT NULL,
	[sucChua] [int] NULL,
	[loaiBan] [nvarchar](50) NULL,
	[maKV] [varchar](20) NULL,
	[maTinhTrang] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDatBan]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatBan](
	[maDonDatBan] [varchar](20) NOT NULL,
	[maBan] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonDatBan] ASC,
	[maBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHD] [varchar](20) NOT NULL,
	[maMon] [varchar](20) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [float] NOT NULL,
	[ghiChu] [nvarchar](255) NULL,
	[thanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatBan]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatBan](
	[maDon] [varchar](20) NOT NULL,
	[thoiGianDat] [datetime] NULL,
	[thoiGianDen] [datetime] NULL,
	[soLuongKhach] [int] NULL,
	[maKH] [varchar](20) NULL,
	[trangThai] [bit] NULL,
	[maNV] [varchar](20) NULL,
	[maBan] [varchar](20) NULL,
	[khungGio] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [varchar](20) NOT NULL,
	[tenKH] [nvarchar](100) NOT NULL,
	[soDT] [varchar](15) NOT NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[maKV] [varchar](20) NOT NULL,
	[tenKV] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKM] [varchar](20) NOT NULL,
	[tenKM] [nvarchar](100) NOT NULL,
	[phanTramGiam] [float] NOT NULL,
	[ngayBatDau] [datetime] NULL,
	[ngayKetThuc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[maDanhMuc] [varchar](20) NOT NULL,
	[tenDanhMuc] [nvarchar](100) NOT NULL,
	[moTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [varchar](20) NOT NULL,
	[tenNV] [nvarchar](100) NOT NULL,
	[soDT] [varchar](15) NULL,
	[soCCCD] [varchar](20) NULL,
	[chucVu] [nvarchar](50) NULL,
	[trangThai] [bit] NULL,
	[maTK] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maMon] [varchar](20) NOT NULL,
	[tenMon] [nvarchar](100) NOT NULL,
	[giaGoc] [float] NOT NULL,
	[giaBan] [float] NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[hinhAnh] [nvarchar](255) NULL,
	[trangThai] [bit] NULL,
	[maDanhMuc] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTK] [varchar](20) NOT NULL,
	[tenTK] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[vaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTrangBan]    Script Date: 20/05/2026 3:14:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangBan](
	[maTinhTrang] [varchar](20) NOT NULL,
	[tenTinhTrang] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maTinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ban] ([maBan], [soBan], [sucChua], [loaiBan], [maKV], [maTinhTrang]) VALUES (N'B001', 1, 4, N'Thường', N'KV001', N'TRONG')
INSERT [dbo].[Ban] ([maBan], [soBan], [sucChua], [loaiBan], [maKV], [maTinhTrang]) VALUES (N'B002', 2, 4, N'Thường', N'KV001', N'TRONG')
INSERT [dbo].[Ban] ([maBan], [soBan], [sucChua], [loaiBan], [maKV], [maTinhTrang]) VALUES (N'B003', 3, 4, N'Thường', N'KV001', N'TRONG')
GO
INSERT [dbo].[ChiTietDatBan] ([maDonDatBan], [maBan]) VALUES (N'DDB001', N'B001')
INSERT [dbo].[ChiTietDatBan] ([maDonDatBan], [maBan]) VALUES (N'DDB002', N'B001')
INSERT [dbo].[ChiTietDatBan] ([maDonDatBan], [maBan]) VALUES (N'DDB003', N'B001')
GO
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maMon], [soLuong], [donGia], [ghiChu], [thanhTien]) VALUES (N'HD001', N'SP_TOM01', 2, 500000, NULL, 1000000)
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maMon], [soLuong], [donGia], [ghiChu], [thanhTien]) VALUES (N'HD002', N'SP_BEER03', 1, 1200000, NULL, 1200000)
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maMon], [soLuong], [donGia], [ghiChu], [thanhTien]) VALUES (N'HD002', N'SP_TOM01', 1, 500000, NULL, 500000)
GO
INSERT [dbo].[DonDatBan] ([maDon], [thoiGianDat], [thoiGianDen], [soLuongKhach], [maKH], [trangThai], [maNV], [maBan], [khungGio], [ghiChu]) VALUES (N'DDB001', CAST(N'2026-05-01T18:20:25.000' AS DateTime), CAST(N'2026-05-01T00:00:00.000' AS DateTime), 4, N'KH004', 1, N'NV002', N'B001', N'CHIEU', NULL)
INSERT [dbo].[DonDatBan] ([maDon], [thoiGianDat], [thoiGianDen], [soLuongKhach], [maKH], [trangThai], [maNV], [maBan], [khungGio], [ghiChu]) VALUES (N'DDB002', CAST(N'2026-05-01T18:42:22.000' AS DateTime), CAST(N'2026-05-01T00:00:00.000' AS DateTime), 4, N'KH006', 0, N'NV002', N'B001', N'TOI', NULL)
INSERT [dbo].[DonDatBan] ([maDon], [thoiGianDat], [thoiGianDen], [soLuongKhach], [maKH], [trangThai], [maNV], [maBan], [khungGio], [ghiChu]) VALUES (N'DDB003', CAST(N'2026-05-01T18:59:12.000' AS DateTime), CAST(N'2026-05-01T00:00:00.000' AS DateTime), 4, N'KH007', 1, N'NV002', N'B001', N'CHIEU', NULL)
GO
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [thoiGian], [tongTien], [trangThai], [maDon], [maNV], [maKH], [maKM], [tienCoc], [trangThaiThanhToan], [hinhThucThanhToan], [maCa]) VALUES (N'HD001', CAST(N'2026-04-22T00:00:00.000' AS DateTime), CAST(N'12:00:00' AS Time), 1000000, 1, NULL, N'NV001', N'KH001', NULL, NULL, N'Đã thanh toán', NULL, NULL)
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [thoiGian], [tongTien], [trangThai], [maDon], [maNV], [maKH], [maKM], [tienCoc], [trangThaiThanhToan], [hinhThucThanhToan], [maCa]) VALUES (N'HD002', CAST(N'2026-04-23T00:00:00.000' AS DateTime), CAST(N'18:30:00' AS Time), 1700000, 1, NULL, N'NV002', N'KH002', NULL, NULL, N'Đã thanh toán', NULL, NULL)
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [thoiGian], [tongTien], [trangThai], [maDon], [maNV], [maKH], [maKM], [tienCoc], [trangThaiThanhToan], [hinhThucThanhToan], [maCa]) VALUES (N'HD003', CAST(N'2026-04-24T00:00:00.000' AS DateTime), CAST(N'19:00:00' AS Time), 2500000, 1, NULL, N'NV001', N'KH003', NULL, NULL, N'Đã thanh toán', NULL, NULL)
GO
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [soDT], [email]) VALUES (N'KH001', N'Lê Văn C', N'0888111222', N'levanc@gmail.com')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [soDT], [email]) VALUES (N'KH002', N'Phạm Minh Hoàng', N'0912345678', N'hoangpm@gmail.com')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [soDT], [email]) VALUES (N'KH003', N'Nguyễn Thùy Linh', N'0988777666', N'linhnt@gmail.com')
GO
INSERT [dbo].[KhuVuc] ([maKV], [tenKV], [moTa]) VALUES (N'KV001', N'Thường', N'Khu vực trong nhà')
INSERT [dbo].[KhuVuc] ([maKV], [tenKV], [moTa]) VALUES (N'KV002', N'Vip', N'Khu vực ngoài trời')
GO
INSERT [dbo].[KhuyenMai] ([maKM], [tenKM], [phanTramGiam], [ngayBatDau], [ngayKetThuc]) VALUES (N'KM001', N'Khai trương', 10, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[LoaiSanPham] ([maDanhMuc], [tenDanhMuc], [moTa]) VALUES (N'LSP_BEER', N'Beer', N'Bia các loại')
INSERT [dbo].[LoaiSanPham] ([maDanhMuc], [tenDanhMuc], [moTa]) VALUES (N'LSP_COM', N'Cơm', N'Các món cơm')
INSERT [dbo].[LoaiSanPham] ([maDanhMuc], [tenDanhMuc], [moTa]) VALUES (N'LSP_CUA', N'Cua', N'Các món cua')
GO
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [soDT], [soCCCD], [chucVu], [trangThai], [maTK]) VALUES (N'NV001', N'Lê Văn Hòa', N'0901234567', N'123456789012', N'NHAN_VIEN', 1, N'TK001')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [soDT], [soCCCD], [chucVu], [trangThai], [maTK]) VALUES (N'NV002', N'Trần Thiên Bảo', N'0386314739', N'987654321098', N'NHAN_VIEN', 1, N'TK002')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [soDT], [soCCCD], [chucVu], [trangThai], [maTK]) VALUES (N'NV003', N'Nguyễn Công Bình', N'0123456789', N'987654321092', N'NHAN_VIEN', 1, N'TK003')
GO
INSERT [dbo].[SanPham] ([maMon], [tenMon], [giaGoc], [giaBan], [moTa], [hinhAnh], [trangThai], [maDanhMuc]) VALUES (N'SP_BEER01', N'Tiger', 20000, 40000, NULL, NULL, 1, N'LSP_BEER')
INSERT [dbo].[SanPham] ([maMon], [tenMon], [giaGoc], [giaBan], [moTa], [hinhAnh], [trangThai], [maDanhMuc]) VALUES (N'SP_BEER02', N'Saigon', 15000, 30000, NULL, NULL, 1, N'LSP_BEER')
INSERT [dbo].[SanPham] ([maMon], [tenMon], [giaGoc], [giaBan], [moTa], [hinhAnh], [trangThai], [maDanhMuc]) VALUES (N'SP_BEER03', N'Heineken', 22000, 45000, NULL, NULL, 1, N'LSP_BEER')
GO
INSERT [dbo].[TaiKhoan] ([maTK], [tenTK], [matKhau], [vaiTro]) VALUES (N'TK001', N'vanhoa', N'123456', N'NHAN_VIEN')
INSERT [dbo].[TaiKhoan] ([maTK], [tenTK], [matKhau], [vaiTro]) VALUES (N'TK002', N'thienbao', N'123456', N'NHAN_VIEN')
INSERT [dbo].[TaiKhoan] ([maTK], [tenTK], [matKhau], [vaiTro]) VALUES (N'TK003', N'congbinh', N'123456', N'NHAN_VIEN')
GO
INSERT [dbo].[TinhTrangBan] ([maTinhTrang], [tenTinhTrang]) VALUES (N'DANG_SD', N'Đang sử dụng')
INSERT [dbo].[TinhTrangBan] ([maTinhTrang], [tenTinhTrang]) VALUES (N'DAT_TRUOC', N'Đã đặt trước')
INSERT [dbo].[TinhTrangBan] ([maTinhTrang], [tenTinhTrang]) VALUES (N'TRONG', N'Trống')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDon_maCa]    Script Date: 20/05/2026 3:14:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_maCa] ON [dbo].[HoaDon]
(
	[maCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDon_trangThaiThanhToan]    Script Date: 20/05/2026 3:14:36 CH ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_trangThaiThanhToan] ON [dbo].[HoaDon]
(
	[trangThaiThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__FB731BDEEF859B32]    Script Date: 20/05/2026 3:14:36 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[tenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonDatBan] ADD  DEFAULT (getdate()) FOR [thoiGianDat]
GO
ALTER TABLE [dbo].[DonDatBan] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [ngayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (CONVERT([time],getdate())) FOR [thoiGian]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tienCoc]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Chưa thanh toán') FOR [trangThaiThanhToan]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [FK_Ban_KhuVuc] FOREIGN KEY([maKV])
REFERENCES [dbo].[KhuVuc] ([maKV])
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [FK_Ban_KhuVuc]
GO
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [FK_Ban_TinhTrang] FOREIGN KEY([maTinhTrang])
REFERENCES [dbo].[TinhTrangBan] ([maTinhTrang])
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [FK_Ban_TinhTrang]
GO
ALTER TABLE [dbo].[ChiTietDatBan]  WITH CHECK ADD  CONSTRAINT [FK_CTDB_Ban] FOREIGN KEY([maBan])
REFERENCES [dbo].[Ban] ([maBan])
GO
ALTER TABLE [dbo].[ChiTietDatBan] CHECK CONSTRAINT [FK_CTDB_Ban]
GO
ALTER TABLE [dbo].[ChiTietDatBan]  WITH CHECK ADD  CONSTRAINT [FK_CTDB_DonDatBan] FOREIGN KEY([maDonDatBan])
REFERENCES [dbo].[DonDatBan] ([maDon])
GO
ALTER TABLE [dbo].[ChiTietDatBan] CHECK CONSTRAINT [FK_CTDB_DonDatBan]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SanPham] FOREIGN KEY([maMon])
REFERENCES [dbo].[SanPham] ([maMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_SanPham]
GO
ALTER TABLE [dbo].[DonDatBan]  WITH CHECK ADD  CONSTRAINT [FK_DonDatBan_Ban] FOREIGN KEY([maBan])
REFERENCES [dbo].[Ban] ([maBan])
GO
ALTER TABLE [dbo].[DonDatBan] CHECK CONSTRAINT [FK_DonDatBan_Ban]
GO
ALTER TABLE [dbo].[DonDatBan]  WITH CHECK ADD  CONSTRAINT [FK_DonDatBan_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[DonDatBan] CHECK CONSTRAINT [FK_DonDatBan_KhachHang]
GO
ALTER TABLE [dbo].[DonDatBan]  WITH CHECK ADD  CONSTRAINT [FK_DonDatBan_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[DonDatBan] CHECK CONSTRAINT [FK_DonDatBan_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DonDatBan] FOREIGN KEY([maDon])
REFERENCES [dbo].[DonDatBan] ([maDon])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DonDatBan]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhuyenMai] FOREIGN KEY([maKM])
REFERENCES [dbo].[KhuyenMai] ([maKM])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhuyenMai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([maTK])
REFERENCES [dbo].[TaiKhoan] ([maTK])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Loai] FOREIGN KEY([maDanhMuc])
REFERENCES [dbo].[LoaiSanPham] ([maDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Loai]
GO
USE [master]
GO
